body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  color: #ff2d2d;
  border: none;
  background: transparent;
  font-size: 40px;
  line-height: 40px;
  cursor: pointer;
}

